{
  "openapi": "3.0.3",
  "info": {
    "title": "Video Transcription API",
    "description": "Professional video transcription service with AI enhancement capabilities.\n\nThis API transcribes MP4 video files to text and provides AI-powered analysis including:\n- High-quality speech-to-text transcription\n- Text enhancement and formatting\n- Intelligent summaries\n- Key point extraction\n- Topic identification\n- Sentiment analysis\n\nPerfect for meeting recordings, interviews, lectures, and any video content requiring transcription.",
    "version": "1.0.0",
    "contact": {
      "name": "Andy Cohen",
      "email": "andy@iamandycohen.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://video-transcribe-api.calmocean-ce622c12.eastus2.azurecontainerapps.io",
      "description": "Production API server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/transcribe": {
      "post": {
        "summary": "Transcribe Video File",
        "description": "Transcribe an MP4 video file to text with optional AI enhancement.\n\nThis endpoint processes video files and returns:\n- Raw transcription text\n- Enhanced, formatted text (if enhancement enabled)\n- Intelligent summary\n- Key discussion points\n- Main topics covered\n- Overall sentiment analysis\n\nSupports both local file paths and remote URLs.",
        "operationId": "transcribeVideo",
        "tags": ["Transcription"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["videoPath"],
                "properties": {
                  "videoPath": {
                    "type": "string",
                    "description": "Path to the MP4 video file to transcribe. Can be:\n- Local file path (e.g., \"./meeting.mp4\")\n- HTTP/HTTPS URL to a video file\n- Cloud storage URL (Azure Blob, AWS S3, etc.)",
                    "example": "./meeting-recording.mp4"
                  },
                  "enhance": {
                    "type": "boolean",
                    "description": "Enable AI enhancement for better formatting and analysis",
                    "default": true,
                    "example": true
                  },
                  "outputFormat": {
                    "type": "string",
                    "enum": ["json", "txt", "both"],
                    "description": "Format for the transcription output",
                    "default": "json",
                    "example": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transcription completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the transcription was successful",
                      "example": true
                    },
                    "transcription": {
                      "type": "string",
                      "description": "The transcribed text (enhanced if enhancement was enabled)",
                      "example": "Good morning everyone. Today we'll be discussing the quarterly results and our strategic initiatives for the upcoming period."
                    },
                    "summary": {
                      "type": "string",
                      "description": "AI-generated summary of the content (if enhancement enabled)",
                      "example": "Quarterly business review meeting covering financial results and strategic planning."
                    },
                    "keyPoints": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Key discussion points extracted from the content",
                      "example": [
                        "Quarterly financial results review",
                        "Customer acquisition strategy discussion",
                        "Product development roadmap planning"
                      ]
                    },
                    "topics": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Main topics identified in the conversation",
                      "example": ["business strategy", "quarterly results", "customer acquisition"]
                    },
                    "sentiment": {
                      "type": "string",
                      "enum": ["positive", "neutral", "negative"],
                      "description": "Overall sentiment of the conversation",
                      "example": "positive"
                    },
                    "outputFiles": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Paths to generated output files (if applicable)",
                      "example": ["./output/meeting_transcription.json"]
                    },
                    "processingTime": {
                      "type": "number",
                      "description": "Processing time in seconds",
                      "example": 45.2
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "videoPath is required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized - Valid authentication required"
                    },
                    "supportedMethods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": ["X-API-Key: <your-api-key>", "Authorization: Bearer <azure-managed-identity-token>"]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Audio extraction failed: Invalid video format"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health Check",
        "description": "Check the health status of the transcription service and its dependencies",
        "operationId": "healthCheck",
        "tags": ["Monitoring"],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "healthy": {
                      "type": "boolean",
                      "description": "Overall service health status",
                      "example": true
                    },
                    "services": {
                      "type": "object",
                      "properties": {
                        "azure": {
                          "type": "boolean",
                          "example": true
                        },
                        "audioExtractor": {
                          "type": "boolean",
                          "example": true
                        },
                        "transcription": {
                          "type": "boolean",
                          "example": true
                        },
                        "gptEnhancement": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    },
                    "capabilities": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": ["video_transcription", "audio_extraction", "speech_to_text", "gpt_enhancement"]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication. Include your API key in the X-API-Key header.\n\nExample: `X-API-Key: your-api-key-here`"
      }
    }
  },
  "tags": [
    {
      "name": "Transcription",
      "description": "Video transcription and AI enhancement operations"
    },
    {
      "name": "Monitoring",
      "description": "Service health and monitoring endpoints"
    }
  ]
}
