{
  "openapi": "3.0.3",
  "info": {
    "title": "Extract Audio Action",
    "description": "Extracts audio from uploaded video and prepares for transcription.\n\nThis action processes video files to extract audio tracks for transcription. It automatically cleans up the video file after successful extraction to save storage space.\n\nPerfect for Azure AI Foundry workflows that need to prepare audio for speech-to-text processing.",
    "version": "2.0.0-stateless",
    "contact": {
      "name": "Andy Cohen",
      "email": "andy@iamandycohen.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://video-transcribe-api.calmocean-ce622c12.eastus2.azurecontainerapps.io",
      "description": "Production API server"
    }
  ],
  "paths": {
    "/extract-audio": {
      "post": {
        "summary": "Extract Audio from Video",
        "description": "Extracts audio from uploaded video and stores audio reference in workflow state.\n\nAutomatically cleans up video file after successful extraction to save space.\n\nWorkflow:\n1. Upload video using upload_video action\n2. Call this action with workflow_id\n3. Use same workflow_id with transcribe_audio action",
        "operationId": "extract_audio",
        "tags": ["File Processing"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["workflow_id"],
                "properties": {
                  "workflow_id": {
                    "type": "string",
                    "description": "Workflow identifier - must have uploaded video",
                    "example": "6902573c-9c6c-446c-9f32-72bf5e5554f6"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audio extracted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "workflow_id": {
                      "type": "string",
                      "description": "Workflow identifier for subsequent operations",
                      "example": "6902573c-9c6c-446c-9f32-72bf5e5554f6"
                    },
                    "cleanup": {
                      "type": "object",
                      "description": "Video file cleanup results",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": true
                        },
                        "spaceFreed": {
                          "type": "number",
                          "description": "Bytes freed by cleaning up video file",
                          "example": 6516900
                        }
                      }
                    },
                    "next_action": {
                      "type": "string",
                      "description": "Suggested next step",
                      "example": "Transcribe the audio using transcribe_audio action with this workflow_id"
                    },
                    "message": {
                      "type": "string",
                      "example": "Audio extracted successfully. Video file cleaned up. Audio ready for transcription."
                    }
                  },
                  "required": ["success", "workflow_id", "cleanup", "next_action", "message"]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid workflow_id or no video",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "examples": [
                        "workflow_id is required",
                        "Workflow not found",
                        "No video found in workflow"
                      ]
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Unauthorized - Valid authentication required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Audio extraction failed"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AzureManagedIdentity": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for direct REST API access"
      },
      "AzureManagedIdentity": {
        "type": "http",
        "scheme": "bearer",
        "description": "Azure Managed Identity token (automatically handled by Azure AI Foundry)"
      }
    }
  },
  "tags": [
    {
      "name": "File Processing",
      "description": "Video and audio processing operations"
    }
  ]
}
