{
  "openapi": "3.0.3",
  "info": {
    "title": "Transcribe Video Action",
    "description": "Transcribe MP4 video files to text with AI enhancement and analysis.\n\nThis action processes previously uploaded video files and returns:\n- High-quality speech-to-text transcription\n- AI-enhanced formatting and analysis\n- Intelligent summaries\n- Key discussion points\n- Topic identification\n- Sentiment analysis\n\nRequires upload ID from the upload_video action:\n1. Use upload_video action to upload video file → get uploadId\n2. Use this action with uploadId to process and transcribe\n\nPerfect for processing meeting recordings, interviews, lectures, and any video content requiring transcription.",
    "version": "1.0.0",
    "contact": {
      "name": "Andy Cohen",
      "email": "andy@iamandycohen.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://video-transcribe-api.calmocean-ce622c12.eastus2.azurecontainerapps.io",
      "description": "Production API server"
    }
  ],
  "paths": {
    "/transcribe": {
      "post": {
        "summary": "Transcribe Video File",
        "description": "Transcribe an MP4 video file to text with optional AI enhancement.\n\nRequires an upload ID from the upload_video action. This creates a clean two-step workflow:\n1. Upload video using upload_video action → get uploadId\n2. Process video using this action with the uploadId\n\nOutput includes:\n- Raw transcription text\n- Enhanced, formatted text (if enhancement enabled)\n- Intelligent summary\n- Key discussion points\n- Main topics covered\n- Overall sentiment analysis",
        "operationId": "transcribe_video",
        "tags": ["Transcription"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["uploadId"],
                "properties": {
                  "uploadId": {
                    "type": "string",
                    "description": "Upload ID from the upload_video action. This must be obtained by first uploading a video file using the upload_video action.",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                  },
                  "enhance": {
                    "type": "boolean",
                    "description": "Enable AI enhancement for better formatting and analysis",
                    "default": true,
                    "example": true
                  },
                  "outputFormat": {
                    "type": "string",
                    "enum": ["json", "txt", "both"],
                    "description": "Format for the transcription output",
                    "default": "json",
                    "example": "json"
                  }
                }
              },
              "examples": {
                "enhanced_transcription": {
                  "summary": "Full transcription with AI enhancement",
                  "description": "Complete transcription with summary, key points, topics, and sentiment analysis",
                  "value": {
                    "uploadId": "123e4567-e89b-12d3-a456-426614174000",
                    "enhance": true,
                    "outputFormat": "json"
                  }
                },
                "quick_transcription": {
                  "summary": "Quick transcription without enhancement",
                  "description": "Fast transcription without AI enhancement",
                  "value": {
                    "uploadId": "456e7890-e12b-34d5-a678-901234567000",
                    "enhance": false,
                    "outputFormat": "txt"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transcription completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the transcription was successful",
                      "example": true
                    },
                    "transcription": {
                      "type": "string",
                      "description": "The transcribed text (enhanced if enhancement was enabled)",
                      "example": "Good morning everyone. Today we'll be discussing the quarterly results and our strategic initiatives for the upcoming period. The main focus areas include customer acquisition, product development, and operational efficiency improvements."
                    },
                    "summary": {
                      "type": "string",
                      "description": "AI-generated summary of the content (if enhancement enabled)",
                      "example": "Quarterly business review meeting covering financial results and strategic planning for customer growth, product development, and operational improvements."
                    },
                    "keyPoints": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Key discussion points extracted from the content",
                      "example": [
                        "Quarterly financial results review",
                        "Customer acquisition strategy discussion",
                        "Product development roadmap planning",
                        "Operational efficiency improvement initiatives"
                      ]
                    },
                    "topics": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Main topics identified in the conversation",
                      "example": ["business strategy", "quarterly results", "customer acquisition", "product development"]
                    },
                    "sentiment": {
                      "type": "string",
                      "enum": ["positive", "neutral", "negative"],
                      "description": "Overall sentiment of the conversation",
                      "example": "positive"
                    },
                    "outputFiles": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Paths to generated output files (if applicable)",
                      "example": ["./output/meeting_20240917_transcription.json"]
                    },
                    "processingTime": {
                      "type": "number",
                      "description": "Processing time in milliseconds",
                      "example": 45200
                    },
                    "uploadId": {
                      "type": "string",
                      "description": "The upload ID that was processed",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "originalVideoName": {
                      "type": "string",
                      "description": "Original filename of the uploaded video",
                      "example": "meeting-recording.mp4"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "examples": [
                        "uploadId is required. Use the /upload endpoint first to upload your video file.",
                        "Upload ID not found or expired. Please upload your video file again using the /upload endpoint."
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized - Valid authentication required"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found - upload ID or file not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "examples": [
                        "Upload ID not found or expired",
                        "Uploaded file no longer exists"
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "Audio extraction failed: Invalid video format"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "AzureManagedIdentity": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for direct REST API access"
      },
      "AzureManagedIdentity": {
        "type": "http",
        "scheme": "bearer",
        "description": "Azure Managed Identity token (automatically handled by Azure AI Foundry)"
      }
    }
  },
  "tags": [
    {
      "name": "Transcription",
      "description": "Video transcription and AI enhancement operations"
    }
  ]
}
